body {
  min-width: 500px;
  border-radius: 10px;
  padding: 10px 20px;
}

ul {
  list-style: none;
}

/*button {
  display: none;
}*/


.centre {
  text-align: center;
}

.right {
  text-align: right;
}

.clear-button {
  text-align: center;
  /*padding-top: 3rem;
  padding-right: 2rem;*/
}

.input-group {
  margin-bottom: 1.5rem;
}

#user-id {
  font-size: 10px;
  padding-top: 1rem;
}

#add-column {
  display: inline;
}
