body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  min-width: 500px;
  line-height: 1.5;
  padding: 1em 1em;
  color: #1B2A29;
  background-color: #FEFFFF;
}

button {
  font-family:  'Nunito Sans', sans-serif;
  font-size: 12px;
  color: #fff;
  background-color: #91E2DE;
  border: none;
  padding: 0.25rem;
  border-radius: 2px;
  margin: 0.5em;
}

button:hover {
  background-color: #A5E7E4;
}

button:active {
  border: none;
}

a {
  text-decoration: none;
  color: #91E2DE;
}

a:hover {
  color: #A5E7E4;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.container {
  width: 85%;
  margin: 0 auto;
}


.centre {
  text-align: center;
}

.right {
  text-align: right;
}

.clear-button {
  text-align: center;
  /*padding-top: 3rem;
  padding-right: 2rem;*/
}

.input-group {
  margin-bottom: 1.5rem;
}

#field-input {
  display: none;
}

#user-id {
  font-size: 0.75em;
  padding-top: 1em;
}

#add-column {
  display: inline;
}
