body {
  min-width: 500px;
  font-size: .7rem;
}

a {
  color: #454d5d;
}

a:hover {
  color: #454d5d;
  text-decoration: none;
}

a:focus {
  border: none;
  text-decoration: none;
}

ul {
  list-style: none;
  margin-top: 0
}

.q-centre {
  text-align: center;
}

.q-top-margin {
  margin-top: 0.75rem;
}

.container {
  width: 80%;
  margin: auto;
}

#user-id {
  font-size: 0.75em;
  margin-top: 0.75rem;
  text-align: right;
}

#copy-button {
  margin-top: 0.95rem;
}
